/* Chris Amends */

h3, h4, h5, h6, h3.widget-title {color:inherit!important;}

.titledate a {color:#404898!important;text-decoration:none!important;}
.titledate a:hover {color:#03ad8c!important;}

ul.blog-detail {
    list-style: none!important;
    margin-left: 0px!important;
    padding-left: 0px!important;
}

.fixed-col{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 20px;
}

a.buttonblack{
	margin-top: 20px;
	margin-bottom: 20px;
}

.so-widget-sow-editor .siteorigin-widget-tinymce h2{
	color: inherit;
}

/* ON THE FLY AMENDS */

p, strong {line-height: 29px;}

h2 {line-height:49px;}
h3.thin {line-height:38px;}
.widget_akvo-logo-slider h3 {font-size:38px!important;line-height:49px!important;font-weight:700!important;text-align:center!important;}
.hovercontent p, .hovercontent strong, .hovercontent a {font-style:normal!important;}
.akvo-custom-posts li.post .title {font-weight:700!important;font-family:"Roboto Condensed", sans-serif!important;}
.caret {display:none!important;} 
a.buttonwhite, a.buttonblack {text-decoration:none!important;}
.primary-filter-list li a {font-size:18px!important;}
.counter h2 {text-align:center!important;}

.titledate h4 {font-size:20px!important;line-height:30px!important;}

.articlesdropdown {font-size:16px!important;border-radius:0px!important;}

.sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {background:none!important;}
.sow-accordion .panel-row-style, .sow-accordion .fixed-col {padding-top:0px!important;}
.sow-accordion .sow-accordion-panel:nth-child(even) {background:rgba(255,255,255,0.1);}
.sow-accordion .sow-accordion-panel .sow-accordion-panel-header {background:none!important;border:none!important;}

.white, .white h1, .white h2, .white h3, .white h4 {color:#fff!important;}

.wpml-ls-legacy-list-horizontal {padding:10px 0px;font-size:17px;}
.wpml-ls-legacy-dropdown {max-width:40px;width:100%;padding:10px 0px;font-size:17px;}
.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {display:none!important;}
.wpml-ls-legacy-dropdown a, .wpml-ls-legacy-list-horizontal a {text-decoration:none!important;border:none!important;}
.sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {padding-top:0px!important;}
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {border:none!important;}
.gform_wrapper .gform_page_footer {border:none!important;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {background:none!important;}

.nested-filters .primary-filter-list a.active, .nested-filters nav ul li a[href]:hover {color:#e04d95!important;text-decoration:none!important;}

.nested-filters nav ul {text-align:center;}

a:hover {text-decoration:underline;}
.widget-title {color:#191919!important;}

.sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button {margin-top:-23px;}

.sow-contact-form .sow-submit-styled .sow-submit {box-shadow:none!important;}

.sow-form-field.sow-form-field-checkboxes ul label,  .sow-form-field.sow-form-field-radio ul label {font-weight: normal!important;font-size: 13px!important;color: #202024!important;line-height:20px!important;}

.sow-form-field input, .sow-form-field select {padding: 10px 20px!important;width:100%;}

form input[type=checkbox] {width:auto!important;}

form#gform_22 input, form#gform_22 textarea, form#gform_22 select {color:#000!important;}
form#gform_22 input[type=button], form#gform_22 input[type=submit]{color:#fff!important;}

form#gform_22 input[type=button]:hover, form#gform_22 input[type=submit]:hover {background:none!important;}

.greenbg form#gform_22 input[type=button], .greenbg form#gform_22 input[type=submit] {background:#fff!important;border:1px solid #fff!important;color:#03AD8C!important;}

.greenbg form#gform_22 input[type=button]:hover, .greenbg form#gform_22 input[type=submit]:hover {background:none!important;color:#fff!important;border-color:#fff!important;}

.featuredimage img {width:100%!important;height:auto!important;}

span.tag.akvo-flow {background: #03AD8C!important;background-color: #03AD8C!important;}
span.tag.akvo-rsr {background: #E04D95!important;background-color: #E04D95!important;}

.updates .update:last-of-type {border-bottom:1px solid #ededed!important;}

#footer ul.quick-links {margin-top:0px!important;line-height:29px!important;}

.updates .update h3 {font-size:24px!important;margin-top: -5px !important;}
.updates .update p {margin-bottom:0px!important;}

.row-eq-height {flex-wrap: wrap;}
.row-eq-height > [class*='col-'] {/*flex-grow: 1;*/flex-grow:0!important;}

@media screen and (max-width: 768px) {
.row-eq-height > [class*='col-'] {/*flex-grow: 1;*/flex-grow:1!important;}
}

.aboutauthor .authorbox {margin-right:0px!important;}
.aboutauthor.row-eq-height > [class*='col-'] {flex-grow: 0!important;} 

body.home #myCarousel {display:none!important;}

.wpml-ls-statics-shortcode_actions .wpml-ls-current-language>a {padding-top:6px!important;}

body.page .csbwfs-social-widget, .csbwfs-show, .csbwfs-hide, .theChampPullOut{display:none!important;}


.blogimagesmall {background-size: cover!important;
    background-position: center!important;
    overflow: hidden;
    height: 200px;
    width: 100%;
    display: block;}

.titledate {min-height:135px!important;}

.pagenav a {    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif !important;
    font-size: 16px !important;
    padding: 1em 2em;
    background: transparent;
    border: 2px solid #000;
    color: #000 !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    margin: 0 auto;}
.pagenav a:hover {background:#000!important;color:#fff!important;}

.pagenav .alignleft {float:left!important;}
.pagenav .alignright {float:right!important;}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {margin-top:0px!important;}
.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {vertical-align:top!important;}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{padding:5px 4px!important;}

.gform_wrapper li.hidden_label input {margin-top:0px!important;}

.gform_anchor:before {
content:"";
display:block;
height:180px;
margin:-180px 0 0;
}

/* New Single Post */

.singlerow .postimage img {width:100%!important;}

.singlepost .meta a {color:#03AD8C!important;}
.greybox {background:#f8f8f8!important;padding:40px 60px;}
.tweetboxpullout .greybox, .tweetboxpullout .fullheight {padding:25px 40px 60px!important;}
.tweetboxpullout h3 {margin-top:0px!important;margin-bottom:0px!important;color:#2c509a;font-weight:300!important;font-size: 23px!important;line-height: 30px!important;}
.tweetboxpullout .paragraph {padding-top:10px;}
.tweetboxpullout h3 a {float:left;color:#2c509a;text-decoration:none!important;font-size:27px!important;}
.tweetboxpullout h3 a:hover {font-size:28px!important;
-webkit-transition: font-size 1s;
   -moz-transition: font-size 1s;
     -o-transition: font-size 1s;
        transition: font-size 1s;
}
.tweetboxpullout h3 a:hover i {color:#1dcaff!important;}
.tweetboxpullout h3.tweetbutton {text-align:right;bottom:0!important;padding:10px;float:right;}
.aboutauthor h3 {font-size:23px!important;font-weight:300!important;line-height:30px!important;margin-top:0px!important;}
.aboutauthor h3 a {color:#03AD8C!important;font-weight:400!important;text-decoration:none!important;}
.aboutauthor .categories {margin:0px!important;padding:0px!important;}
/*.aboutauthor .authorbox {margin-right:1%;}*/
.aboutauthor.row-eq-height > [class*='col-'] {flex-grow: 0!important;} 
form#category-select select {width:100%!important;padding:6px!important;}
@media (max-width: 768px) {.aboutauthor .authorbox {margin-right:none!important;}.tweetboxpullout .greybox {padding:20px 40px 60px 40px!important;}}

.fullheight {height:100%!important;}

.row-eq-height{display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;}
@media (max-width: 768px) {.row-eq-height{display:block!important;}.fullheight{margin-bottom:10px;}}
.imagebox img {margin-bottom:0px!important;}

.whitetext p, .whitetext h2, .whitetext h1, .whitetext h3, .whitetext a, .whitetext li, .whitetext i, .whitetext small, .whitetext blockquote small, .whitetext blockquote, .whitetext label {color:#fff!important;}

.greenbg.whitetext input[type=button], .greenbg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#03AD8C!important;border:1px solid #fff!important;}
.greenbg.whitetext input[type=button]:hover, .greenbg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

.bluebg.whitetext input[type=button], .bluebg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#404898!important;border:1px solid #fff!important;}
.bluebg.whitetext input[type=button]:hover, .bluebg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

.redbg.whitetext input[type=button], .redbg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#EA5547!important;border:1px solid #fff!important;}
.redbg.whitetext input[type=button]:hover, .redbg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

.pinkbg.whitetext input[type=button], .pinkbg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#E04D95!important;border:1px solid #fff!important;}
.pinkbg.whitetext input[type=button]:hover, .pinkbg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

/* Flex */

.row-flex {
  display: flex; /* columns are now equal height */
  flex:1;
  flex-flow: row wrap;
}
.row-flex .col {
  flex: 1;
  flex-grow: 1;
  flex-flow: column nowrap;
  min-width: 0;
  padding: 5px;
  margin-right: 10px;
}
.row-flex .col:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .flex-grid {
    display: block;
  }
}

/* EXTRA COLOUR FIXES */

span.tag.akvo-flow {background: #03AD8C!important;background-color: #03AD8C!important;}
span.tag.akvo-rsr {background: #E04D95!important;background-color: #E04D95!important;}

.so-widget-sow-editor .siteorigin-widget-tinymce h1 {color: inherit!important;}


/* VIDEO MODAL FROM IMAGE */

.videomodal2 img{cursor:pointer!important;width:100%;height:auto;}
.so-widget-akvo-video-modal .modal-content{background:none!important;border:none!important;border-radius:none!important;-webkit-box-shadow: none!important;box-shadow:none!important;}
.so-widget-akvo-video-modal .modal-dialog.video {max-width:1000px!important;}

/* MAP TAB EXTRA STYLES */

#maps iframe {overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px}

#maps .nav .tabs-left, .nav .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
#maps .nav .tabs-left {
}
#maps .nav .tabs-right {
}
#maps .nav .tabs-left>li, #maps .nav .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
#maps .nav .tabs-left>li {
  margin-right: -1px;
}
#maps .nav .tabs-right>li {
  margin-left: -1px;
}

#maps .nav-tabs {border:none!important;}
#maps .nav-tabs>li {width:100%!important;}
#maps .nav-tabs>li>a {color:#555!important;width:100%!important;border:none!important;padding:20px!important;}

#maps .nav-tabs>li.active>a, 
#maps .nav-tabs>li.active>a:focus, 
#maps .nav-tabs>li.active>a:hover {
background:#eee!important;
border-radius:0px!important;
border:none!important;
}

#maps h3 {font-size:24px!important;margin-top:0px!important;}


.sow-accordion-title {line-height:35px!important;}

.gform_wrapper  a, .gform_wrapper .gfield_required {color:inherit!important;}
.gform_wrapper  a {text-decoration:underline!important;}

.gform_wrapper label.gfield_label, .gform_wrapper .gfield_checkbox li label {font-weight:300!important;font-size: inherit;}

#field_23_5 label, #field_23_6 label, #field_22_20 label, #field_22_21 label {margin-bottom:0px!important;}

#field_23_5 .ginput_container_checkbox, #field_23_6 .ginput_container_checkbox, #field_22_20 .ginput_container_checkbox, #field_22_21 .ginput_container_checkbox{margin-top:0px;}

.modal-body .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .modal-body  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {margin-top:3px!important;}
.modal-body .gform_wrapper ul.gform_fields li.gfield {padding-right:0px!important;}
.modal-body .gform_wrapper .gform_footer input.button, .modal-body .gform_wrapper .gform_footer input[type=submit] {width:100%!important;}

#maps .sow-google-map-canvas {min-height:426px!important;height:100%!important;}

a.buttonblack{border: 2px solid #000!important;}
a.buttonwhite {border: 2px solid #fff!important;}

.faded {opacity:0.5;}
.faded:hover {opacity:1;}
.centered {text-align:center!important;}

/* PRICING TABLE */

.pricing .faded {padding:20px;border:1px solid #d5d5d5;}

/* PULL UP */

.pullup {margin-top:-80px;}


.so-widget-akvo-video-modal .modal-dialog {width:100%!important;max-width:800px!important;}

/* IFRAME UPDATE */

iframe#toolframe {max-height:800px!important;min-height:500px!important;}

/* PADDING OVERRIDE */

body.single-microstory .so-widget-sow-editor, body.single-microstory .narrow-row {padding:0px!important;}

/* COLOUR OVERRIDES */

.so-widget-sow-features .sow-features-list .sow-features-feature .textwidget > p,
.so-widget-sow-features .sow-features-list .sow-features-feature h5, 
.so-widget-sow-editor .siteorigin-widget-tinymce h4 {color:inherit!important;}

/* PROGRESS BAR FIXES */
progress .progress-bar, .progress-bar, span.progress-bar {color:#03ad8c !important;background-color:#03ad8c !important;background:#03ad8c !important;}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #03ad8c !important;
}

progress::-moz-progress-bar {
  background-color: #03ad8c !important;
}

/* PROCESS ROW RESPONSIVE */
@media screen and (max-width: 768px) {
	.pullup {margin-top:0px!important;}
	.sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button {margin-top:-45px!important;}
.sow-accordion-title {font-size:20px;line-height:25px!important;}
	.process-row:before {display:none!important;}
.process-step {display:inline-block;width:33%;}
}

@media screen and (max-width: 500px) {
.process-step {display:inline-block;width:50%;}
}


/* NEW SINGLE POST MK2 */

body.single-post #myCarousel .item {height:350px!important;margin-top:10px!important;background:#03ad8c !important;}
body.single-post .authorimage {padding:0px!important;}
body.single-post .authorimage img {border-radius:50%;}

/* TESTIMONIAL FIXES */
.widget_akvo-testimonials #quote-carousel, .testimonials #quote-carousel {margin-top:0px!important;padding-bottom:0px!important;}
.widget_akvo-testimonials .carousel .carousel-inner .item, .testimonials .carousel .carousel-inner .item, .testimonials .carousel .carousel-inner {height:auto!important;}


/* ACCORDION FIXES */

.accordion .btn {text-align:left!important;
	font-family: Roboto Condensed!important;
	font-weight: 300!important;
	font-size: 28px!important;
	color:inherit!important;
	text-decoration:none!important;
}

/* RESPSONSIVE AMENDS */

@media screen and (max-width: 1024px) and (min-width: 781px) {
	.panel-grid-cell {-ms-flex: 0 1 100%!important;
    -webkit-flex: 0 1 100%!important;
    flex: 0 1 100%!imporant;}
}
