/* Chris Amends */

ul.blog-detail {
    list-style: none!important;
    margin-left: 0px!important;
    padding-left: 0px!important;
}

/* ON THE FLY AMENDS */

p, strong {line-height: 29px;}

h2 {line-height:49px;}
h3.thin {line-height:38px;}
.widget_akvo-logo-slider h3 {font-size:38px!important;line-height:49px!important;font-weight:700!important;text-align:center!important;}
.hovercontent p, .hovercontent strong, .hovercontent a {font-style:normal!important;}
.akvo-custom-posts li.post .title {font-weight:700!important;font-family:"Roboto Condensed", sans-serif!important;}
.caret {display:none!important;} 
a.buttonwhite, a.buttonblack {text-decoration:none!important;}
.primary-filter-list li a {font-size:18px!important;}
.counter h2 {text-align:center!important;}

.titledate h4 {font-size:20px!important;line-height:30px!important;}

.articlesdropdown {font-size:16px!important;border-radius:0px!important;}

.sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {background:none!important;}
.sow-accordion .panel-row-style, .sow-accordion .fixed-col {padding-top:0px!important;}
.sow-accordion .sow-accordion-panel:nth-child(even) {background:rgba(255,255,255,0.1);}
.sow-accordion .sow-accordion-panel .sow-accordion-panel-header {background:none!important;border:none!important;}

.white, .white h1, .white h2, .white h3, .white h4 {color:#fff!important;}

.wpml-ls-legacy-list-horizontal {padding:10px 0px;font-size:17px;}
.wpml-ls-legacy-dropdown {max-width:40px;width:100%;padding:10px 0px;font-size:17px;}
.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {display:none!important;}
.wpml-ls-legacy-dropdown a, .wpml-ls-legacy-list-horizontal a {text-decoration:none!important;border:none!important;}
.sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {padding-top:0px!important;}
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {border:none!important;}
.gform_wrapper .gform_page_footer {border:none!important;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {background:none!important;}

.nested-filters .primary-filter-list a.active, .nested-filters nav ul li a[href]:hover {color:#e04d95!important;text-decoration:none!important;}

a:hover {text-decoration:underline;}
.widget-title {color:#191919!important;}

.sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button {margin-top:-23px;}

.sow-contact-form .sow-submit-styled .sow-submit {box-shadow:none!important;}

.sow-form-field.sow-form-field-checkboxes ul label,  .sow-form-field.sow-form-field-radio ul label {font-weight: normal!important;font-size: 13px!important;color: #202024!important;line-height:20px!important;}

.sow-form-field input, .sow-form-field select {padding: 10px 20px!important;width:100%;}

form input[type=checkbox] {width:auto!important;}

form#gform_22 input, form#gform_22 textarea, form#gform_22 select {color:#000!important;}
form#gform_22 input[type=button], form#gform_22 input[type=submit]{color:#fff!important;}

form#gform_22 input[type=button]:hover, form#gform_22 input[type=submit]:hover {background:none!important;}

.greenbg form#gform_22 input[type=button], .greenbg form#gform_22 input[type=submit] {background:#fff!important;border:1px solid #fff!important;color:#03AD8C!important;}

.greenbg form#gform_22 input[type=button]:hover, .greenbg form#gform_22 input[type=submit]:hover {background:none!important;color:#fff!important;border-color:#fff!important;}

.featuredimage img {width:100%!important;height:auto!important;}

span.tag.akvo-flow {background: #03AD8C!important;background-color: #03AD8C!important;}
span.tag.akvo-rsr {background: #E04D95!important;background-color: #E04D95!important;}

.updates .update:last-of-type {border-bottom:1px solid #ededed!important;}

#footer ul.quick-links {margin-top:0px!important;line-height:29px!important;}

.updates .update h3 {font-size:24px!important;margin-top: -5px !important;}
.updates .update p {margin-bottom:0px!important;}

.row-eq-height {flex-wrap: wrap;}
.row-eq-height > [class*='col-'] {flex-grow: 1;}


.blogimagesmall {background-size: 100% auto;
    background-position: center;
    overflow: hidden;
    height: 180px;
    width: 100%;
    display: block;}

/* New Single Post */

.singlerow .postimage img {width:100%!important;}

.singlepost .meta a {color:#03AD8C!important;}
.greybox {background:#f8f8f8!important;padding:40px 60px;}
.tweetboxpullout .greybox {padding:25px 40px 60px!important;}
.tweetboxpullout h3 {margin-top:0px!important;margin-bottom:0px!important;color:#2c509a;font-weight:300!important;}
.tweetboxpullout .paragraph {padding-top:10px;}
.tweetboxpullout h3 a {float:left;color:#2c509a;text-decoration:none!important;}
.tweetboxpullout h3.tweetbutton {text-align:right;bottom:0!important;padding:10px;float:right;}
.aboutauthor h3 {font-size:23px!important;font-weight:300!important;line-height:30px!important;}
.aboutauthor h3 a {color:#03AD8C!important;font-weight:400!important;text-decoration:none!important;}
.aboutauthor .categories {margin:0px!important;padding:0px!important;}
/*.aboutauthor .authorbox {margin-right:1%;}*/
.aboutauthor.row-eq-height > [class*='col-'] {flex-grow: 0!important;} 
form#category-select select {width:100%!important;padding:6px!important;}
@media (max-width: 768px) {.aboutauthor .authorbox {margin-right:none!important;}.tweetboxpullout .greybox {padding:20px 40px 60px 40px!important;}}

.fullheight {height:100%!important;}

.row-eq-height{display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;}
@media (max-width: 768px) {.row-eq-height{display:block!important;}.fullheight{margin-bottom:10px;}}
.imagebox img {margin-bottom:0px!important;}

.whitetext p, .whitetext h2, .whitetext h1, .whitetext h3, .whitetext a, .whitetext li, .whitetext i, .whitetext small, .whitetext blockquote small, .whitetext blockquote, .whitetext label {color:#fff!important;}

.greenbg.whitetext input[type=button], .greenbg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#03AD8C!important;border:1px solid #fff!important;}
.greenbg.whitetext input[type=button]:hover, .greenbg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

.bluebg.whitetext input[type=button], .bluebg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#404898!important;border:1px solid #fff!important;}
.bluebg.whitetext input[type=button]:hover, .bluebg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

.redbg.whitetext input[type=button], .redbg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#EA5547!important;border:1px solid #fff!important;}
.redbg.whitetext input[type=button]:hover, .redbg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

.pinkbg.whitetext input[type=button], .pinkbg.whitetext input[type=submit].submitbigform{background:#fff!important;color:#E04D95!important;border:1px solid #fff!important;}
.pinkbg.whitetext input[type=button]:hover, .pinkbg.whitetext input[type=submit].submitbigform:hover {background:none!important;color:#fff!important;}

/* Flex */

.row-flex {
  display: flex; /* columns are now equal height */
  flex:1;
  flex-flow: row wrap;
}
.row-flex .col {
  flex: 1;
  flex-grow: 1;
  flex-flow: column nowrap;
  min-width: 0;
  padding: 5px;
  margin-right: 10px;
}
.row-flex .col:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .flex-grid {
    display: block;
  }
}

/* EXTRA COLOUR FIXES */

span.tag.akvo-flow {background: #03AD8C!important;background-color: #03AD8C!important;}
span.tag.akvo-rsr {background: #E04D95!important;background-color: #E04D95!important;}
