/*---------------------------------------------------------------------------------

    Title:          Akvo.org Styles for Desktop, mobile, tablet
    Author:         Samuel Thomas, samuel@akvo.org

---------------------------------------------------------------------------------*/

            /* Colours
---------------------------------------------------------------------------------*/

$colorDarkBlack: #000;

$colorMidBlack: #191919;

$colorBlack: #202024;

$colorDarkGray: #333;

$colorGray: #e6e6e6;

$colorMidGray: #f2f2f2;

$colorLightGray: #f8f8f8;

$colorWhite: #fff;

$colorRed: #EA5547;

$colorGreen: #03AD8C;

$colorBlue: #404898;



$colorPink: #E04D95;



