/*---------------------------------------------------------------------------------

    Title:          Akvo.org Styles for Desktop, mobile, tablet
    Author:         Samuel Thomas, samuel@akvo.org

---------------------------------------------------------------------------------*/

            /* Colours
---------------------------------------------------------------------------------*/

$colorBlack: #202024;

$colorRed: #EA5547;

$colorGreen: #03AD8C;

$colorBlue: #404898;

$colorDarkGray: #333;

$colorGray: #e6e6e6;

$colorMidGray: #fafafa;

$colorLightGray: #f8f8f8;


$colorPink: #E04D95;

$colorWhite: #fff;

