@import 'library';

.container-fluid {padding:0px;}

body {
	color: #202024;
	font-family: 'Assistant', sans-serif;
	font-weight: 400;
	font-size: 1.45em;
	line-height: 1.4em;
	text-rendering: optimizeLegibility;
	overflow-x: hidden !important;
}


nav {
	&.anchorNav ul li a, &.anchorNav2 ul li a {
		text-decoration: none !important;
	}
	&.anchorNav, &.anchorNav2 {
		padding: 15px 0px;
		background: none !important;
	}
}

@import 'inc/commons';

@import 'inc/navbar';

@import 'inc/helper';

@import 'inc/headings';

@import "inc/buttons";

@import "inc/filters";

@import "inc/downloads-dropdown";

@import "inc/newsletter";

@import "inc/modal";

/* THIS HAS TO BE UPDATED */
@import "new.scss";

@import "inc/sow";