
p {margin-bottom:10px;}

p, strong, .company, .fullwidth li {
	font-size: 16px;
	line-height: 21px;
}




h2.download {
	text-align: left;
	margin-bottom: 5px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}

.list-group {
	margin-bottom: 0px !important;
	.addressbox.first {
		margin-bottom: 2px;
	}
	a {
		text-decoration: none !important;
		color: #202024 !important;
	}
	.addressbox.active {
		background: #e6e6e6 !important;
	}
}

.hovercontent {
	p, strong, a {
		font-style: italic !important;
	}
}

.wrapper.center {
	text-align: center;
	margin: 0 auto;
}


.introtext {
	p {
		font-size: 1.3em;
		line-height: 1.3em;
		margin-bottom: 40px;
	}
	h1.maintitle {
		font-size: 2.50em;
		font-weight: bold;
		text-align: left !important;
		color: #000 !important;
	}
}



.blogfeature {
	background: #fff !important;
}




#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #202024 !important;
  &.peopletop {
    margin-top: 0px !important;
  }
  .textwidget {margin-bottom:20px;}
  h5 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff!important;
  }
  p {
    color: #fff;
  }
  h4 {
    color: #fff;
    font-weight: bold;
  }
  a {
    color: #ffffff;
	font-size:16px!important;
	line-height:21px!important;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:hover {
      color: #03AD8C !important;
      font-weight: normal !important;
    }
  }
  ul {
    &.social li {
      padding: 3px 0;
      a i {
        margin-right: 5px;
        font-size: 25px;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
      }
      &:hover a i {
        font-size: 30px;
        color: #03AD8C !important;
        margin-top: -10px;
      }
      a {
        color: #ffffff;
      }
    }
    &.quick-links li a {
      color: #ffffff;
      font-size: 16px;
      line-height: 21px;
    }
    &.social li a:hover {
      color: #eeeeee;
    }
    &.quick-links {
      li {
        padding: 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
        &:hover {
          padding: 0;
        }
        a i {
          margin-right: 5px;
        }
        &:hover a i {
          font-weight: 700;
        }
      }
      margin-top: -5px;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    margin-left: 0px !important;
  }
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}




.customer-logos img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}



@media only screen and (max-width: 768px) and (min-width: 0) {
	
	.desktoppadding {
		padding-right: 0px !important;
	}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: 100% !important;
	}
	#navbar {
		display: none;
		&.in {
			display: block !important;
		}
	}
	.dropdown-menu a {
		font-size: 14px !important;
		line-height: 26px !important;
	}
}

@media only screen and (max-width: 995px) {
	
	.navbar-nav > li > a, .dropdown-menu a {
		font-size: 13px;
	}
}



.navbar-brand > img {
  max-width: 105px;
}

@import "inc/carousel";



body.microstory {
	h3.thin, small {
		font-family: "Assistant", sans-serif !important;
	}
	h3.smaller {
		font-size: 17px;
	}
}

img.slidelogo {
  margin-bottom: 20px;
}

.carousel-caption.microstory {
  padding-right: 27%;
  &.largeimage h4 {
    font-size: 24px;
    padding: 5px;
    background: #fff;
    color: #202024 !important;
  }
}

iframe#toolframe {
  height: 100%;
  border: none !important;
  max-height: 1800px;
  min-height: 1000px;
}

.statistics i {
  font-size: 50px;
  margin-bottom: 10px;
  color: #404898 !important;
}

.partnerlogo {
  max-width: 80px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.statistics .stattitle {
  margin-bottom: 25px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 20px;
}

img.toollogo {
  width: 100%;
  max-width: 115px;
}

.stat {
  padding-bottom: 15px;
  &:nth-of-type(odd) {
    background-color: transparent;
  }
  &:nth-of-type(even) {
    background-color: #fff;
  }
}

.statistics.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.counter {
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #404898;
}

section {
  padding: 60px 0;
  .section-title {
    text-align: center;
    color: #404898;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

#what-we-do {
	background: #ffffff;
	.card {
		padding: 1rem !important;
		border: none;
		margin-bottom: 1rem;
		-webkit-transition: .5s all ease;
		-moz-transition: .5s all ease;
		transition: .5s all ease;
		&:hover {
			-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
			-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
			box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		}
		.card-block {
			padding-left: 50px;
			position: relative;
			a {
				color: #404898 !important;
				font-weight: 700;
				text-decoration: none;
				i { display: none; }
			}
		}
		&:hover .card-block a i {
			display: inline-block;
			font-weight: 700;
		}
		.card-block:before {
			font-family: FontAwesome;
			position: absolute;
			font-size: 39px;
			color: #404898;
			left: 0;
			-webkit-transition: -webkit-transform .2s ease-in-out;
			transition: transform .2s ease-in-out;
		}
		.block-1:before {
			content: "\f0e7";
		}
		.block-2:before {
			content: "\f0eb";
		}		
		.block-3:before {
			content: "\f00c";
		}
		.block-4:before {
			content: "\f209";
		}
		.block-5:before {
			content: "\f0a1";
		}
		.block-6:before {
			content: "\f218";
		}
		&:hover .card-block:before {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: .5s all ease;
			-moz-transition: .5s all ease;
			transition: .5s all ease;
		}
	}
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  background:#404898!important;
  border-color:#404898!important;
}



.questionnaire {
  background-color: #e2e3ea;
  position: relative;
  padding: 70px 20px 70px 20px;
  h2 span {
    color: #404898;
    font-weight: 700 !important;
  }
}

.gettoknowus {
  background: url(waterbg.jpg) repeat;
  padding: 70px 20px 70px 20px;
}

.video {
  height: 0;
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.slick-slide {
  margin: 0px 20px;
  img {
    width: 100%;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track, .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.addressbox {
  background: #f8f8f8;
  height: 100%;
  padding-bottom: 20px;
}

.inner-container {
  margin-left: 15%;
  margin-right: 15%;
}

form {
  &.newsletterform .tab {
    display: none;
  }
  h3 {
    margin-top: 0px !important;
  }
}

#map {
  margin: 0 auto;
}

.newsletterform fieldset:not(:first-of-type) {
  display: none;
}

progress {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #404898!important;
  z-index: 100;
  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-webkit-progress-value, &::-moz-progress-bar {
    background-color: #404898;
  }
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: red;
  width: 0%;
  display: block;
  height: inherit;
}

@import "inc/clocks";

@media (max-width: 768px) {
	.carousel-caption h1 {
		font-size: 4rem !important;
		line-height: 5.6rem !important;
	}
}

#accordion-style-1 {
	h1, a {
		color: #404898;
	}
	.btn-link {
		font-weight: 400;
		text-align: left !important;
		color: #404898;
		background-color: transparent;
		text-decoration: none !important;
		font-size: 18px;
		font-weight: bold;
	}
}

i.arrowdown {
	float: right !important;
	margin-top: 4px;
}

.card-header {
	text-align: left !important;
}

.card:nth-child(even) .card-header {
	background: #f8f8f8 !important;
}

.card-body {
  padding-left: 15px;
  padding-right: 15px;
}

#accordion-style-1 {
  .card-body hr {
    border-top: 1px solid #404898 !important;
  }
  .card-header .btn {
    &.collapsed .fa.main {
      display: none;
    }
    .fa.main {
      background: #404898;
      padding: 13px 11px;
      color: #ffffff;
      width: 35px;
      height: 41px;
      position: absolute;
      left: -1px;
      top: 10px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      display: block;
    }
  }
}

.nighttime img {
  &.jcgmt-clock-hover, &.jcgmt-clock {
    -webkit-filter: grayscale(100%) !important;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) !important;
  }
}



.logopadding {
  padding: 10px;
}

.downloadlinks {
  margin-top: 10px;
  text-align: center;
  a {
    padding: 5px;
  }
}

.bluebg .downloadlinks a {
  color: #fff !important;
}

.logogroup {
  clear: both;
  img {
    width: 70%;
  }
}



/* Blog Overrides */
.titledate {
	min-height: 100px;
	height: 100%;
}

.youmightlike {
	min-height: 125px;
}

.youmightlikebox {
	min-height: 255px;
	height: 100%;
	background-size: cover !important;
	background-position: center center !important;
	padding: 0px;
}

.youmightliketext {
	bottom: 10px !important;
	position: absolute;
	padding: 0px 5px;
	transition: all .3s ease;
	transition: 0.9s;
	h4 {
		padding: 5px;
		a {
			color: #fff !important;
			text-decoration: none !important;
		}
	}
}

.titledatemain {
	min-height: 210px;
	height: 100%;
}

select.blog-detail {
	width: 100%;
	padding: 6px;
}

.singlepost .categories {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	h2 {
		margin-top: 0px;
		padding-top: 0px;
	}
}

ul.meta {
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
	i { margin-right: 10px; }
	li {
		width: 49%;
		display: inline-block;
	}
}

.carousel-caption.microstory {
	bottom: 8% !important;
}

.youmightlikebox .blog-colum {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%);
	width: 100%;
	display: block;
	height: 100%;
	position: absolute;
}

.advertbox {
	cursor: pointer;
	min-height: 255px;
	height: 100%;
	background-size: cover !important;
	background-position: center center !important;
}

@media (max-width: 1350px) {
	.carousel-caption.microstory h1 {
		font-size: 70px !important;
		line-height: 95px !important;
	}
}

@media (max-width: 1200px) {
	.advertbox img {
		width: 100% !important;
	}
}

@media (max-width: 1100px) {
	.carousel-caption.microstory h1 {
		font-size: 60px !important;
		line-height: 85px !important;
	}
	.youmightlikebox, .advertbox {
		min-height: 500px;
	}
}

@media (max-width: 768px) {
	ul.meta li {
		width: 100%;
		display: block;
	}
}

@media (max-width: 715px) {
	.carousel-caption.microstory h1 {
		font-size: 50px !important;
		line-height: 75px !important;
	}
}

@media (max-width: 630px) {
	.carousel-caption.microstory h1 {
		font-size: 40px !important;
		line-height: 65px !important;
	}
}

@media (max-width: 400px) {
	.carousel-caption.microstory h1 {
		font-size: 30px !important;
		line-height: 55px !important;
	}
}

.overlay {
	position: absolute;
	transition: all .3s ease;
	opacity: 0;
	transition: 0.9s;
}

.youmightlikecontainer:hover .overlay {
	opacity: 1;
}

.overlayBottom {
	width: 100%;
	height: 0;
	bottom: 0;
	left: 15px;
	ul.blog-detail li {
		color: #fff !important;
	}
}

.youmightlikecontainer:hover {
	.overlayBottom {
		height: 30px;
	}
	.youmightliketext {
		padding-bottom: 20px;
	}
}

.singlepost {
	.singlerow {
		max-width: 850px !important;
		margin: 0 auto;
	}
	span.firstpara {
		font-size: 20px !important;
	}
}

.carousel-caption h3.thin {
	color: #000 !important;
	font-size: 20px !important;
	background: #fff;
	display: inline !important;
	clear: both !important;
	padding: 5px;
	margin-top: 5px;
}



.newslettercontainer {
	max-width: 650px;
	h3 {
		font-weight: 300 !important;
	}
	label {
		font-size: 17px;
		line-height: 25px;
		font-weight: 300;
	}
}

img {
	&.mini {
		width: 100% !important;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	&.full {
		width: 100% !important;
	}
}

#myCarousel.pageheader .carousel-inner .item {
	background-size: auto !important;
}

.updates {
	.update {
		background: #fff !important;
		border: 1px solid #ededed;
		padding: 20px !important;
		border-bottom: none !important;
	}
	.last .update {
		border-bottom: 1px solid #ededed !important;
	}
	.date {
		padding: 25px !important;
	}
	.update h3 {
		margin-top: 0px !important;
		padding-top: 0px !important;
	}
}

@media (max-width: 970px) {
	.updates .update {
		border-bottom: 1px solid #ededed !important;
	}
}


.tag {
	padding: 5px 10px;
	color: #fff !important;
	float: left;
	margin-right: 10px;
	&:hover {
		filter: brightness(120%) !important;
		font-weight: normal !important;
	}
}

/* WATER TREATMENT PAGE */

.process-step .btn:focus {
  outline: none;
}

.process {
  display: table;
  width: 100%;
  position: relative;
}

.process-row {
  display: table-row;
}

.process-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity = 100) !important;
}

.process-row:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.process-step {
  display: table-cell;
  text-align: center;
  position: relative;
  p {
    margin-top: 4px;
  }
}

.btn-circle {
	width: 80px;
	height: 80px;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
}

.process .btn-info {
	background: #404898 !important;
	border-color: #404898 !important;
}

.boxlink {
	min-height: 130px;
	padding-bottom: 10px;
	a { color: #4E4A47 !important; }
}



img.solutionimage {
	margin-top: 20%;
}

.testimonials .carousel-inner {
  height: 200px;
}

#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 60px;
	.carousel-control {
		background: none;
		color: #CACACA;
		font-size: 2.3em;
		text-shadow: none;
		margin-top: 30px;
	}
	.carousel-indicators {
		position: relative;
		right: 50%;
		top: auto;
		bottom: 0px;
		margin-top: 20px;
		margin-right: -19px;
		li {
			width: 50px;
			height: 50px;
			cursor: pointer;
			border: 1px solid #ccc;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			opacity: 0.4;
			overflow: hidden;
			transition: all .4s ease-in;
			vertical-align: middle;
		}
		.active {
			width: 50px;
			height: 50px;
			opacity: 1;
			transition: all .2s;
		}
	}
}

.item blockquote {
	border-left: none;
	margin: 0;
	p:before {
		content: "\f10d";
		font-family: 'Fontawesome';
		float: left;
		margin-right: 10px;
	}
}

/* New Single Post */

.singlepost .meta a {
	color: #03AD8C !important;
}

.greybox {
	background: #f8f8f8 !important;
	padding: 40px 60px;
}

.tweetboxpullout {
	.greybox {
		padding: 25px 40px 60px !important;
	}
	h3 {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		color: #2c509a;
		font-weight: 300 !important;
	}
	.paragraph {
		padding-top: 10px;
	}
	h3 {
		a {
			float: left;
			color: #2c509a;
			text-decoration: none !important;
		}
		&.tweetbutton {
			text-align: right;
			bottom: 0 !important;
			padding: 10px;
			float: right;
		}
	}
}

.aboutauthor {
	h3 {
		font-weight: 300 !important;
		a {
			color: #03AD8C !important;
			font-weight: 400 !important;
			text-decoration: none !important;
		}
	}
	.categories {
		margin: 0px !important;
		padding: 0px !important;
	}
	.authorbox {
		margin-right: 1%;
	}
}

@media (max-width: 768px) {
	.aboutauthor .authorbox {
		margin-right: none !important;
	}
	.tweetboxpullout .greybox {
		padding: 20px 40px 60px 40px !important;
	}
}

.fullheight {
	height: 100% !important;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media (max-width: 768px) {
	.row-eq-height {
		display: block !important;
	}
	.fullheight {
		margin-bottom: 10px;
	}
}

.imagebox img {
  margin-bottom: 0px !important;
}

.whitetext {
  p, h2, h1, h3, a, li, i, small {
    color: #fff !important;
  }
  blockquote {
    small {
      color: #fff !important;
    }
    color: #fff !important;
  }
}


/* Flex */
.row-flex {
	display: flex;
	/* columns are now equal height */
	flex: 1;
	flex-flow: row wrap;
	.col {
		flex: 1;
		flex-grow: 1;
		flex-flow: column nowrap;
		min-width: 0;
		padding: 5px;
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}

@media (max-width: 768px) {
	.flex-grid {
		display: block;
	}
}



