@import "compass";
@import "compass/reset";


body {
  overflow-x: hidden !important;
}

p {margin-bottom:10px;}

li#updateTemplate ul.floats-in {
  list-style: none;
  margin: 1em 0;
}

.container-fluid {padding:0px;}

@media (max-width: 768px) {
  #n ul li ul.sub-menu li a {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .container-fluid > {
    .navbar-collapse, .navbar-header {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
  .container > {
    .navbar-collapse, .navbar-header {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }
}

.siteorigin-widget-tinymce h4 {
  color: inherit;
}

.so-widget-akvo-cover img {
  width: 100%;
}

.alignright {
  text-align: right !important;
}

.fullBlack #assessFunel #funnel-form.funelContainer .funnelContent {
  max-width: 700px;
}

.home #content {
  margin-top: 0;
}

.fullBlack {
  .so-widget-logos li {
    width: 185px;
  }
  .micro-story .iframe-row iframe {
    margin: 0 auto;
  }
  .no-padding-col .siteorigin-widget-tinymce {
    padding: 0;
  }
  .narrow-row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    .panel-grid-cell {
      padding: 30px;
    }
    .siteorigin-widget-tinymce {
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .fullBlack .so-widget-logos {
    ul {
      white-space: nowrap;
      overflow: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }
    li {
      width: 120px;
    }
  }
  #search {
    display: none !important;
  }
}

@media only screen and (min-width: 641px) {
  .homepage-2018-new.Page.fullBlack .gform_wrapper .top_label li.gfield {
    &.gf_left_half, &.gf_right_half {
      width: 49%;
    }
  }
}

@media (max-width: 780px) {
  .fullBlack .narrow-row {
    padding: 15px;
    .panel-grid-cell {
      padding: 15px 0 !important;
    }
  }
}

body {
  color: #202024;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 1.45em;
  line-height: 1.4em;
  text-rendering: optimizeLegibility;
}

p, strong, .company, .fullwidth li {
  font-size: 16px;
  line-height: 21px;
}

strong {font-weight:bold;}

h1, h2, h3, h4, h5, h6 {
  color: #333!important;
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 700 !important;
  margin-bottom:10px;
}

h1 {
  color: #2c2a74!important;
  font-size: 2.9em;
  line-height: 1.2em;
}

h2 {
  font-size: 38px;
  line-height: 42px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
}

h4 {
  font-size: 27px;
  line-height: 34px;
}

h5 {
  font-size: 23px;
  line-height: 29px;
}

h6 {
  font-size: 18px;
  line-height: 25px;
}


h2.download {
  text-align: left;
  margin-bottom: 5px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}

.list-group {
  margin-bottom: 0px !important;
  .addressbox.first {
    margin-bottom: 2px;
  }
  a {
    text-decoration: none !important;
    color: #202024 !important;
  }
  .addressbox.active {
    background: #e6e6e6 !important;
  }
}

.hovercontent {
  p, strong, a {
    font-style: italic !important;
  }
}

.wrapper.center {
  text-align: center;
  margin: 0 auto;
}

nav {
  &.anchorNav ul li a, &.anchorNav2 ul li a {
    text-decoration: none !important;
  }
  &.anchorNav, &.anchorNav2 {
    padding: 15px 0px;
  }
}

ul {
  &.staff {
    padding: 0px !important;
    width: 100% !important;
    list-style-type: none;
    height: 100%;
    li {
      width: 33.05%;
      padding: 2%;
      margin: 0 !important;
      display: block;
      float: left;
      div.imgWrapper {
        background: #fff !important;
        padding: 0px !important;
        width: 100% !important;
        max-height: 217px;
        overflow: hidden;
      }
      &:nth-child(3n+1) {
        clear: left;
      }
    }
  }
  &.help {
    padding: 0px !important;
    width: 100% !important;
    list-style-type: none;
    height: 100%;
    &.companies {
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
    }
    li {
      width: 33.05%;
      padding: 2%;
      margin: 0 !important;
      display: block;
      float: left;
      cursor: pointer;
    }
    &.companies li {
      width: 20% !important;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
    li {
      div.imgWrapper {
        background: #fff !important;
        padding: 0px !important;
        width: 100% !important;
        max-height: 217px;
        overflow: hidden;
      }
      &:nth-child(3n+1) {
        clear: left;
      }
    }
    &.companies li {
      &:nth-child(3n+1) {
        clear: none !important;
      }
      &:nth-child(5n+1) {
        clear: left !important;
      }
    }
    li {
      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      &:hover img {
        -webkit-filter: none !important;
        filter: none !important;
      }
    }
  }
}

.microstoriesbox {
  display: block;
  min-height: 650px;
  height: 100%;
  width: 100%;
}

ul.staff li .hovercontent {
  opacity: 0;
  padding: 0px;
  display: block;
  margin-top: -210px;
  margin-bottom: 94px;
  position: relative;
  width: 100%;
}

.featured .hovercontent {
  color: #fff !important;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


ul.staff li {
  &:hover {
    .imgWrapper {
      opacity: 0;
      -webkit-animation: fadeOut ease-in 1;
      -moz-animation: fadeOut ease-in 1;
      animation: fadeOut ease-in 1;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s;
      cursor: pointer;
    }
    .hovercontent {
      opacity: 0;
      -webkit-animation: fadeIn ease-in 1;
      -moz-animation: fadeIn ease-in 1;
      animation: fadeIn ease-in 1;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s;
    }
  }
  a {
    text-decoration: none !important;
    color: #202024;
  }
}

nav {
  &.anchorNav, &.anchorNav2 {
    background: none !important;
  }
}

ul li {
  &.location a {
    color: #202024 !important;
    border-radius: 0px !important;
    &:hover {
      color: #202024 !important;
      background: #f0f0f0 !important;
      box-shadow: none !important;
    }
  }
  &.group a {
    color: #797979 !important;
    border-radius: 0px !important;
    &:hover {
      color: #797979 !important;
      background: #f0f0f0 !important;
      box-shadow: none !important;
    }
  }
  &.phase a {
    color: #aaa8a8 !important;
    border-radius: 0px !important;
    &:hover {
      color: #aaa8a8 !important;
      background: #f0f0f0 !important;
      box-shadow: none !important;
    }
  }
}

.introtext {
  p {
    font-size: 1.3em;
    line-height: 1.3em;
    margin-bottom: 40px;
  }
  h1.maintitle {
    font-size: 2.50em;
    font-weight: bold;
    text-align: left !important;
    color: #000 !important;
  }
}

a.buttonblack, button.buttonblack {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif !important;
  font-size: 16px !important;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #000000;
  color: #000000 !important;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1em;
  margin: 0 auto;
}

a.buttonblack:hover {
  background: #000 !important;
  color: #fff !important;
}

button {
  &.buttonblack:hover {
    background: #000 !important;
    color: #fff !important;
  }
  &.buttonwhite {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif !important;
    font-size: 16px !important;
    padding: 1em 2em;
    background: transparent;
    border: 2px solid #fff;
    color: #fff !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    margin: 0 auto;
    &:hover {
      background: #fff !important;
      color: #202023 !important;
    }
  }
}

.staffName.company {
  font-weight: bold;
}

.introtext a.buttonblack {
  font-size: 16px !important;
}

.blogfeature {
  background: #fff !important;
}

.featured {
  background: #404898 !important;
  .staffName.company {
    color: #fff !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  ul {
    &.staff li {
      width: 46%;
      div.imgWrapper {
        max-height: 350px;
      }
      &:nth-child(3n+1) {
        clear: none;
      }
      &:nth-child(2n+1) {
        clear: left;
      }
    }
    &.help.companies li {
      width: 33% !important;
      div.imgWrapper {
        max-height: 350px !important;
      }
      &:nth-child(5n+1) {
        clear: none !important;
      }
      &:nth-child(3n+1) {
        clear: left !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    &.anchorNav ul li, &.anchorNav2 ul li {
      background: none !important;
      display: inline-block !important;
      padding: 10px !important;
    }
    &.anchorNav ul li a, &.anchorNav2 ul li a {
      font-size: 16px !important;
    }
  }
  ul {
    &.mobilehidesorting {
      display: none;
    }
    &.staff li {
      div.imgWrapper {
        max-height: 350px;
      }
      width: 96%;
    }
    &.help.companies li {
      div.imgWrapper {
        max-height: 350px !important;
      }
      width: 48% !important;
      display: inline-block !important;
      float: none !important;
      &:nth-child(3n+1) {
        clear: none !important;
      }
    }
  }
}

.navbar-brand {
  font-size: 24px;
}

.navbar-container {
  padding: 0px;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.navbar-brand.fixed-theme {
  font-size: 18px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-brand.fixed-theme, .navbar-container.fixed-theme, .navbar.navbar-fixed-top.fixed-theme, .navbar-brand, .navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

.navbar-nav > li > a {
  color: #fff !important;
  background: none !important;
  font-size: 17px;
}

.navbar-toggle .icon-bar {
  color: #fff !important;
  background: #fff !important;
}

.navbar-nav > li > a:hover {
  background: none !important;
  color: #404898 !important;
}

nav#header {
  background: #202024;
}

li a.dropdown-toggle:hover {
  cursor: pointer !important;
}

.logobrand {
  display: inline-block;
  max-width: 120px;
  margin-bottom: -5px;
}

.navbar-brand {
  padding: 6px 15px;
}

.dropdown-menu {
  background: #202024 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;
  a {
    color: #fff !important;
    font-size: 15px;
  }
  li:hover {
    background: #202024 !important;
    background-color: #202024 !important;
  }
  a:hover {
    color: #404898 !important;
    background: #202024 !important;
    background-color: #202024 !important;
  }
}

.navbar-nav {
  margin-left: 20px;
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 36, 0.9);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, 0px) scale(0, 0);
  -moz-transform: translate(0px, 0px) scale(0, 0);
  -o-transform: translate(0px, 0px) scale(0, 0);
  -ms-transform: translate(0px, 0px) scale(0, 0);
  transform: translate(0px, 0px) scale(0, 0);
  z-index: 99999999;
  opacity: 0;
  &.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
  }
  input {
    &[type="search"], &[type="text"] {
      position: absolute !important;
      top: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      border: none !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      -moz-box-shadow: none !important;
      width: 100% !important;
      color: rgb(255, 255, 255);
      background: rgba(0, 0, 0, 0);
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      border: 0px;
      margin: 0px auto;
      margin-top: -51px;
      padding-left: 30px;
      padding-right: 30px;
      outline: none;
    }
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 49%;
    margin-top: 61px;
    margin-left: -45px;
    width: auto;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px !important;
    padding: 1em 2em;
    background: transparent;
    border: 2px solid #fff;
    color: #fff !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    text-shadow: none !important;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    &:hover {
      background: #fff !important;
      color: #404898 !important;
    }
  }
  .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
    padding: 10px 17px;
    font-size: 27px;
    z-index: 99999999999999999999999 !important;
  }
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  nav#header {
    background: none !important;
    .navbar-header {
      background: #202024;
    }
  }
  .navbar-collapse {
    background: #202024;
    width: 100% !important;
    overflow: hidden;
    -moz-border-radius: 0em !important;
    -o-border-radius: 0em !important;
    -webkit-border-radius: 0em !important;
    border-radius: 0em !important;
  }
  .navbar-container {
    padding: 0px !important;
  }
  .logobrand {
    margin-left: 30px;
  }
}

#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #202024 !important;
  &.peopletop {
    margin-top: 0px !important;
  }
  .textwidget {margin-bottom:20px;}
  h5 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff!important;
  }
  p {
    color: #fff;
  }
  h4 {
    color: #fff;
    font-weight: bold;
  }
  a {
    color: #ffffff;
	font-size:16px!important;
	line-height:21px!important;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:hover {
      color: #404898 !important;
      font-weight: normal !important;
    }
  }
  ul {
    &.social li {
      padding: 3px 0;
      a i {
        margin-right: 5px;
        font-size: 25px;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
      }
      &:hover a i {
        font-size: 30px;
        color: #404898 !important;
        margin-top: -10px;
      }
      a {
        color: #ffffff;
      }
    }
    &.quick-links li a {
      color: #ffffff;
      font-size: 16px;
      line-height: 21px;
    }
    &.social li a:hover {
      color: #eeeeee;
    }
    &.quick-links {
      li {
        padding: 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
        &:hover {
          padding: 0;
        }
        a i {
          margin-right: 5px;
        }
        &:hover a i {
          font-weight: 700;
        }
      }
      margin-top: -5px;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    margin-left: 0px !important;
  }
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 780px) {
  .dropdown-menu {
    .sub-menu {
      left: 100% !important;
      position: absolute;
      top: 0;
      visibility: hidden;
      margin-top: -1px;
    }
    li:hover .sub-menu {
      visibility: visible;
    }
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.massivetitle {
  color: #404898 !important;
  font-size: 7.75rem !important;
  margin-bottom: 20px !important;
  line-height: 8.75rem !important;
  padding-bottom: 20px !important;
}

.thin, .roboto-thin {
  font-weight: 300 !important;
  line-height: 30px;
}

.newsletterform {
  input.signup {
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 66%;
	font-size:16px!important;
    padding: 6px 20px;
    background: transparent;
    border-radius: 0px !important;
    border: 1px solid #000 !important;
    color: #000;
    background: #fff !important;
    &.name {
      -moz-box-shadow: none !important;
      -o-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      width: 49% !important;
      margin-bottom: 10px;
      display: inline-block;
      background: #fff !important;
      &.left {
        margin-right: 1%;
      }
      &.right {
        margin-left: 1%;
      }
    }
  }
  textarea {
    width: 100%;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 10px 20px;
	font-size:16px!important;
    background: transparent;
    border-radius: 0px !important;
    border: 1px solid #000 !important;
    color: #000;
    background: #fff !important;
  }
  input.signup.email {
    background: #fff !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 100% !important;
    margin-bottom: 10px;
  }
  select {
    border: 1px solid #000 !important;
    padding: 10px 20px !important;
    width: 100%;
	font-size:16px!important;
    margin-bottom: 10px;
  }
  input {
    &[type=button], &[type=submit] {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  button.button, .button {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px !important;
    padding: 10px 20px;
    background: #404898;
    border: 2px solid #404898;
    color: #fff !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    text-shadow: none !important;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    margin: 0 auto;
    width: 100%;
  }
}

input {
  &[type=button], &[type=submit] {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px !important;
    padding: 10px 20px;
    background: #404898;
    border: 2px solid #404898;
    color: #fff !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    text-shadow: none !important;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    margin: 0 auto;
    width: 100%;
  }
}

.newsletterform {
  button.button:hover, .button:hover {
    background: #fff !important;
    border-color: #404898 !important;
    color: #404898 !important;
  }
}

input {
  &[type=button]:hover, &[type=submit]:hover {
    background: #fff !important;
    border-color: #404898 !important;
    color: #404898 !important;
  }
}

.newsletterform {
  input {
    &[type=button] {
      &.next, &.previous {
        max-width: 20%;
      }
    }
    &[type=submit].submitbigform {
      max-width: 20% !important;
    }
  }
  fieldset {
    position: relative;
  }
}

.customer-logos img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.newsletterform fieldset:not(:first-of-type) {
  display: none;
}

.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

.lessbottom {
  margin-bottom: 10px !important;
}

.desktoppadding {
  padding-right: 40px !important;
}

.aligncenter {
  text-align: center;
}

.articlesdropdown {
  padding: 17px 10px;
  width: 80%;
  margin-right: 2%;
  display: inline-block;
}

@media only screen and (max-width: 768px) and (min-width: 0) {
  .newsletterform {
    input.signup {
      &.name {
        width: 100% !important;
        margin-bottom: 10px !important;
      }
      width: 100% !important;
      margin-bottom: 10px !important;
    }
    button.button {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
  }
  .desktoppadding {
    padding-right: 0px !important;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 100% !important;
  }
  #navbar {
    display: none;
    &.in {
      display: block !important;
    }
  }
  .dropdown-menu a {
    font-size: 14px !important;
    line-height: 26px !important;
  }
}

@media only screen and (max-width: 995px) {
  .newsletterform {
    input.signup {
      &.name {
        width: 100% !important;
        margin-bottom: 10px !important;
      }
      width: 100% !important;
      margin-bottom: 10px !important;
    }
    button.button {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
  }
  .navbar-nav > li > a, .dropdown-menu a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1190px) {
  .newsletterform {
    input.signup {
      &.name {
        width: 100% !important;
        margin-bottom: 10px !important;
      }
      width: 100% !important;
      margin-bottom: 10px !important;
    }
    button.button {
      width: 100% !important;
      margin-bottom: 10px !important;
    }
  }
  .articlesdropdown {
    width: 70%;
  }
}

.modal-dialog {
  margin-top: 5%;
}

.modal-header {
  padding-bottom: 5px;
}

.modal-footer {
  padding: 0;
  .btn-group {
    button {
      height: 40px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
      border-right: 1px solid #ddd;
    }
    &:last-child > button {
      border-right: 0;
    }
  }
}

body.modal-open {
  padding-right: 0px !important;
}

.modalinput {
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: #202024 !important;
  }
}

.modal-body form {
  label.form-check-label {
    width: 96%;
    font-weight: normal!important;
	line-height:18px!important;
    font-size: 13px !important;
    color: #202024 !important;
  }
  .form-check {
    margin-bottom: 5px !important;
  }
  input[type=checkbox] {
    vertical-align: top !important;
  }
}

.navbar-brand > img {
  max-width: 105px;
}

.fullwidth {
  width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  &.paddingboth {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &.paddingtop {
    padding-top: 60px;
  }
  &.paddingbottom {
    padding-bottom: 60px;
  }
}

.paddingtop {
  padding-top: 60px;
}

.paddingbottom {
  padding-bottom: 60px;
}

.paddingboth {
  padding-top: 60px;
  padding-bottom: 60px;
}

#myCarousel {
  padding-top: 20px;
  .nav {
    a {
      small {
        display: block;
      }
      border-radius: 0px;
    }
    background: #eee;
  }
}

.carousel-inner .item {
  background-size: cover !important;
  height: 600px !important;
  width: 100% !important;
  background-position: 50% 26% !important;
}

.carousel-caption {
  text-shadow: none !important;
  bottom: 15%;
  text-align: left;
  right: auto !important;
  left: auto !important;
}

.homeslider .carousel-caption {
  padding-right: 20% !important;
}

.carousel-caption h1, h1.slidertitle, .slidertitle {
  text-shadow:none!important;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  color: #202024 !important;
  font-size: 5rem !important;
  background: #fff;
  margin-bottom: 20px !important;
  -webkit-margin-after: 0px !important;
  line-height: 8.75rem !important;
  display: inline;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 105px !important;
}

body.microstory {
  h3.thin, small {
    font-family: "Assistant", sans-serif !important;
  }
  h3.smaller {
    font-size: 17px;
  }
}

img.slidelogo {
  margin-bottom: 20px;
}

.carousel-caption.microstory {
  padding-right: 27%;
  &.largeimage h4 {
    font-size: 24px;
    padding: 5px;
    background: #fff;
    color: #202024 !important;
  }
}

iframe#toolframe {
  height: 100%;
  border: none !important;
  max-height: 1800px;
  min-height: 1000px;
}

.statistics i {
  font-size: 50px;
  margin-bottom: 10px;
  color: #404898 !important;
}

.partnerlogo {
  max-width: 80px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}

.statistics .stattitle {
  margin-bottom: 25px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 20px;
}

img.toollogo {
  width: 100%;
  max-width: 115px;
}

.stat {
  padding-bottom: 15px;
  &:nth-of-type(odd) {
    background-color: transparent;
  }
  &:nth-of-type(even) {
    background-color: #fff;
  }
}

.statistics.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

.counter {
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #404898;
}

section {
  padding: 60px 0;
  .section-title {
    text-align: center;
    color: #404898;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

#what-we-do {
  background: #ffffff;
  .card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    &:hover {
      -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    }
    .card-block {
      padding-left: 50px;
      position: relative;
      a {
        color: #404898 !important;
        font-weight: 700;
        text-decoration: none;
        i {
          display: none;
        }
      }
    }
    &:hover .card-block a i {
      display: inline-block;
      font-weight: 700;
    }
    .card-block:before {
      font-family: FontAwesome;
      position: absolute;
      font-size: 39px;
      color: #404898;
      left: 0;
      -webkit-transition: -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out;
    }
    .block-1:before {
      content: "\f0e7";
    }
    .block-2:before {
      content: "\f0eb";
    }
    .block-3:before {
      content: "\f00c";
    }
    .block-4:before {
      content: "\f209";
    }
    .block-5:before {
      content: "\f0a1";
    }
    .block-6:before {
      content: "\f218";
    }
    &:hover .card-block:before {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
    }
  }
}

#toTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  background:#404898!important;
  border-color:#404898!important;
}

.bg-light-gray {
  background: #f8f8f8;
  background-color: #f8f8f8;
}

.bg-gray {
  background: #e6e6e6;
  background-color: #e6e6e6;
}

.questionnaire {
  background-color: #e2e3ea;
  position: relative;
  padding: 70px 20px 70px 20px;
  h2 span {
    color: #404898;
    font-weight: 700 !important;
  }
}

.gettoknowus {
  background: url(waterbg.jpg) repeat;
  padding: 70px 20px 70px 20px;
}

.video {
  height: 0;
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.slick-slide {
  margin: 0px 20px;
  img {
    width: 100%;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider {
  .slick-track, .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.addressbox {
  background: #f8f8f8;
  height: 100%;
  padding-bottom: 20px;
}

.inner-container {
  margin-left: 15%;
  margin-right: 15%;
}

form {
  &.newsletterform .tab {
    display: none;
  }
  h3 {
    margin-top: 0px !important;
  }
}

#map {
  margin: 0 auto;
}

.newsletterform fieldset:not(:first-of-type) {
  display: none;
}

progress {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #404898!important;
  z-index: 100;
  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-webkit-progress-value, &::-moz-progress-bar {
    background-color: #404898;
  }
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
}

.progress-bar {
  background-color: red;
  width: 0%;
  display: block;
  height: inherit;
}

.jcgmt-container {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 3px;
  width: 16%;
  .jcgmt-lbl {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin: 0 auto;
    font-weight: 300 !important;
    line-height: 30px;
    font-family: "Assistant", sans-serif !important;
    height: 70px;
    font-size: 20px;
    display: block;
  }
}

.jcgmt-clockHolder {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.jcgmt-sec, .jcgmt-min, .jcgmt-hour {
  display: block;
  position: absolute;
}

.jcgmt-rotatingWrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  padding-left: 24%;
  z-index: 100;
}

.jcgmt-digital, .jcgmt-date, .hellotext {
  font-weight: 300 !important;
  line-height: 30px;
  color: #000;
  font-family: "Assistant", sans-serif !important;
  font-size: 14px;
  text-align: center;
  margin-left: 8px;
}

.jcgmt-container {
  cursor: pointer !important;
  img.jcgmt-clock-hover {
    display: none !important;
  }
  &:hover img {
    &.jcgmt-clock {
      display: none !important;
    }
    &.jcgmt-clock-hover {
      display: inline-block !important;
    }
  }
  .hellotext {
    display: none !important;
  }
  &:hover {
    .jcgmt-digital {
      display: none !important;
    }
    .hellotext {
      display: inline-block !important;
    }
  }
}

@media (max-width: 1200px) {
  .jcgmt-rotatingWrapper {
    padding-left: 18%;
  }
}

@media (max-width: 970px) {
  .jcgmt-rotatingWrapper {
    padding-left: 9%;
  }
}

@media (max-width: 768px) {
  .jcgmt-container {
    width: 40% !important;
  }
  .jcgmt-rotatingWrapper {
    padding-left: 27.5%;
  }
  .jcgmt-container .jcgmt-lbl {
    padding-top: 20px;
    height: auto !important;
  }
}

@media (max-width: 400px) {
  .jcgmt-container {
    width: 100% !important;
  }
  .jcgmt-rotatingWrapper {
    padding-left: 37.5%;
  }
}

@media (max-width: 768px) {
  .massivetitle {
    font-size: 4rem !important;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 5rem !important;
  }
  .carousel-caption h1 {
    font-size: 4rem !important;
    line-height: 5.6rem !important;
  }
}

#accordion-style-1 {
  h1, a {
    color: #404898;
  }
  .btn-link {
    font-weight: 400;
    text-align: left !important;
    color: #404898;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: bold;
  }
}

i.arrowdown {
  float: right !important;
  margin-top: 4px;
}

.card-header {
  text-align: left !important;
}

.card:nth-child(even) .card-header {
  background: #f8f8f8 !important;
}

.card-body {
  padding-left: 15px;
  padding-right: 15px;
}

#accordion-style-1 {
  .card-body hr {
    border-top: 1px solid #404898 !important;
  }
  .card-header .btn {
    &.collapsed .fa.main {
      display: none;
    }
    .fa.main {
      background: #404898;
      padding: 13px 11px;
      color: #ffffff;
      width: 35px;
      height: 41px;
      position: absolute;
      left: -1px;
      top: 10px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      display: block;
    }
  }
}

.nighttime img {
  &.jcgmt-clock-hover, &.jcgmt-clock {
    -webkit-filter: grayscale(100%) !important;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) !important;
  }
}

.FilterNav {
  border-bottom: thin solid #e8e8e8;
  border-top: thin solid #e8e8e8;
  margin: 30px auto;
  ul {
    list-style: none;
    margin: 0em auto;
    position: relative;
    text-align: center;
    li {
      display: inline;
      padding: 0px;
      margin: 0em;
      a {
        padding: 0.25em 0.75em;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
}


ul {
  &.team li a, &.help li a {
    color: #4E4A47;
  }
  &.team li a:hover, &.help li a:hover {
    color: #404898;
  }
}

.logopadding {
  padding: 10px;
}

.downloadlinks {
  margin-top: 10px;
  text-align: center;
  a {
    padding: 5px;
  }
}

.bluebg .downloadlinks a {
  color: #fff !important;
}

.logogroup {
  clear: both;
  img {
    width: 70%;
  }
}

/* AKVO COLOUR OVERRIDES */

.gray {
  color: #333!important;
}

.graybg{
  background: #333!important;
  background-color: #333!important;
}

.blue {
  color: #404898 !important;
}

.bluebg {
  background: #404898 !important;
  background-color: #404898 !important;
}

.green {
  color: #03AD8C !important;
}

.greenbg {
  background: #03AD8C !important;
  background-color: #03AD8C !important;
}

.red {
  color: #EA5547 !important;
}

.redbg {
  background: #EA5547 !important;
  background-color: #EA5547 !important;
}

.pink {
  color: #E04D95 !important;
}

.pinkbg {
  background: #E04D95 !important;
  background-color: #E04D95 !important;
}

.white {
  color:#fff!important;
}
