#myCarousel {
  padding-top: 20px;
  .nav {
    a {
      small {
        display: block;
      }
      border-radius: 0px;
    }
    background: #eee;
  }
}

.carousel-inner .item {
  background-size: cover !important;
  height: 600px !important;
  width: 100% !important;
  background-position: 50% 26% !important;
}

.carousel-caption {
  text-shadow: none !important;
  bottom: 15%;
  text-align: left;
  right: auto !important;
  left: auto !important;
}

.homeslider .carousel-caption {
  padding-right: 20% !important;
}

.carousel-caption h1, h1.slidertitle, .slidertitle {
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  color: #202024 !important;
  font-size: 7.75rem !important;
  background: #fff;
  margin-bottom: 20px !important;
  -webkit-margin-after: 0px !important;
  line-height: 8.75rem !important;
  display: inline;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 105px !important;
}

body.microstory {
  h3.thin, small {
    font-family: "Assistant", sans-serif !important;
  }
  h3.smaller {
    font-size: 17px;
  }
}

img.slidelogo {
  margin-bottom: 20px;
}

.carousel-caption.microstory {
  padding-right: 27%;
  &.largeimage h4 {
    font-size: 24px;
    padding: 5px;
    background: #fff;
    color: #202024 !important;
  }
}