.FilterNav {
  border-bottom: thin solid #e8e8e8;
  border-top: thin solid #e8e8e8;
  margin: 30px auto;
  ul {
    list-style: none;
    margin: 0em auto;
    position: relative;
    text-align: center;
    li {
      display: inline;
      padding: 0px;
      margin: 0em;
      a {
        padding: 0.25em 0.75em;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
}

nav {
  &.anchorNav ul li a, &.anchorNav2 ul li a {
    text-decoration: none !important;
  }
  &.anchorNav, &.anchorNav2 {
    padding: 15px 0px;
  }
}

.microstoriesbox {
  display: block;
  min-height: 650px;
  height: 100%;
  width: 100%;
}