.so-widget-akvo-rotating-sentence h2 {color:inherit!important;}

#disqus_thread iframe{
	margin-top: 60px;
}



/* ANCHOR LINKS WITHIN THE GRAVITY FORMS IN THE FOOTER */
#footer .gform_wrapper form a, #footer .gform_wrapper form a:hover{
	font-size: inherit !important;
	color: inherit !important;
	border-bottom: 1px solid #e04d95!important;
}



/*FadeIn*/
.fadeIn{
	display: inline;
	text-indent: 8px;
}
.fadeIn span{
	animation: fadeEffect 12.5s linear infinite 0s;
	-ms-animation: fadeEffect 12.5s linear infinite 0s;
	-webkit-animation: fadeEffect 12.5s linear infinite 0s;
	color: inherit;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.fadeIn span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.fadeIn span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.fadeIn span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.fadeIn span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*FadeIn Animation*/
@-moz-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.purplebg .gform_page_footer input[type=button], .purplebg form#gform_22 input[type=button], .purplebg form#gform_22 input[type=submit], .purplebg form input[type=button], .purplebg form input[type=submit]  {
	background:#fff!important;color:#404898!important;border:1px solid #fff!important;
}
.purplebg .gform_page_footer input[type=button]:hover, .purplebg form#gform_22 input[type=button]:hover, .purplebg form#gform_22 input[type=submit]:hover, .purplebg form input[type=button]:hover, .purplebg form input[type=submit]:hover {
	background:none!important;color:#fff!important;
}
.purplebg .gform_confirmation_wrapper a{
	color: inherit;
	border-bottom: 1px solid #e04d95!important;
}



.greenbg form input, .greenbg form textarea, .greenbg form select {color:#000!important;}
.purplebg form input, .purplebg form textarea, .purplebg form select {color:#000!important;}


.gform_confirmation_message {text-align:left!important;line-height: 30px!important;
    font-size: 24px!important;font-family: 'Roboto Condensed', sans-serif !important;font-weight:300!important;}


.whitebg form input[type=button], .whitebg form input[type=submit]  {
	background:#000!important;color:#fff;border:1px solid #000!important;
}
.whitebg form input[type=button]:hover, .whitebg form input[type=submit]:hover {
	background:#e6e6e6!important;color:#000!important;
}


.carousel-caption.microstory {
	max-width:1300px!important;
}

p, strong, .company, .fullwidth li {font-size:17px!important;}
strong {font-weight:700!important;}

.advertbox {background-color:#fff!important;background-size:95% 95%!important;background-position: center bottom!important;}

/* TEMP FILTERS FIX */

.nested-filters nav ul {
  padding: 0; }
.nested-filters .primary-filter-list a {
  color: #202024;
  border-radius: 0px; }
  .nested-filters .primary-filter-list a:hover {
    color: #202024;
    background: #f0f0f0;
    box-shadow: none; }
.nested-filters .secondary-filter-list {
  margin-top: 15px; }
  .nested-filters .secondary-filter-list a {
    color: #797979;
    border-radius: 0px; }
    .nested-filters .secondary-filter-list a:hover {
      color: #797979;
      background: #f0f0f0;
      box-shadow: none; }
.nested-filters.tertiary-filter-list a {
  color: #aaa8a8;
  border-radius: 0px; }
  .nested-filters.tertiary-filter-list a:hover {
    color: #aaa8a8;
    background: #f0f0f0;
    box-shadow: none; }
@media screen and (max-width: 768px) {
  .nested-filters .primary-filter-list a {
    padding: 10px;
    display: inline-block; }
  .nested-filters .secondary-filter-list {
    display: none; }
}

body.author .authorheader {max-height:270px!important;background-color:#03AD8C!important;}

body.tag{
	float: none;
	padding: 0;
	margin: 0;
	color: inherit !important;
}

body.tag:hover{
	filter: none !important;
	font-weight: inherit !important;
}

body.tag #myCarousel .item, body.category #myCarousel .item{
	height: 350px !important;
	margin-top: 10px !important;
	background: #03ad8c !important;
}

/* SIMILAR CODE ALREADY IN CHRIS.SCSS - OVERRIDE FOR HOME STATISTICS */
.fancy .statistics .stat {
	height:100%!important;
	padding-bottom:20px!important;
}

.fancy .statistics .stat:nth-of-type(even) {
	background:none!important;
}

.fancy .statistics .stattitle {
	border:none!important;
	font-size: 50px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	color:inherit!important;
	margin-bottom:15px!important;
	padding-bottom:0px!important;
}
.fancy .statistics p {
	font-size:30px!important;
	color:inherit!important;
}

/**/


/* #357 */
@media(min-width:768px){
	.navbar-toggle{
		display: block;
	}
	.navbar-header{
		float: none;
	}
	.navbar-nav, .navbar-nav>li{
		float: none !important;
	}

}
@media(min-width:960px){
	.navbar-toggle{
		display: none;
	}
	.navbar-header, .navbar-nav, .navbar-nav>li{
		float: left !important;
	}
	.navbar-right{
		float: right !important;
	}
}

@media only screen and (max-width: 960px) and (min-width: 0){
	nav#header{
		background: #202024 !important;
	}
	.navbar-nav{
		margin-left: 0 !important;
	}
	#navbar{
		display: none !important;
	}
	#navbar.in{
		display: block !important;
		margin-left: 0;
		margin-right: 0;
	}
}
/* #357 */


.singlerow .postimage img{
	height: auto;
}

/* AKVO PRICING WIDGET */
.sow-pricing-wrapper .sow-pricing{
	width:100%;
	height:auto;
}
.sow-pricing-wrapper .sow-pricing ul > li{
	margin-bottom: 20px;
}
.sow-pricing-desc{
	display: none !important;
}
.sow-pricing-desc.show{
	display: flex !important;
}
/* AKVO IMAGE BUTTON WIDGET */
.img-btn a{
	display: block;
	margin: 0 auto;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.img-btn .title-container{ padding: 0 8px;}
.img-btn .title-container > h4{
	text-align: center;
	font-size: 24px;
	line-height: 30px;
}
/* AKVO IMAGE BUTTON WIDGET ENDS*/

@media( min-width: 768px ){
	.sow-pricing-wrapper .sow-pricing ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
}
@media( max-width: 767px ){
	.sow-pricing-wrapper .sow-pricing ul{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
}
/* AKVO BULLET LIST */
.sow-bullet-wrapper ul li.bullet-item{
	background: #f2f2f2;
	padding: 10px;
}
.sow-bullet-wrapper ul li.bullet-item:nth-child(2n){ background: #ffffff; }
.sow-bullet-wrapper .bullet-item .bullet-title{ color: #404898; }
.sow-bullet-wrapper .bullet-item .bullet-title.fade-active:hover,
.sow-bullet-wrapper .bullet-item .bullet-title.fade-active{ color: #000; }
.sow-bullet-wrapper .bullet-item .bullet-title i{ font-size:30px; }
.sow-bullet-wrapper .bullet-title{ display: flex; flex-wrap: wrap; }
.sow-bullet-wrapper .bullet-title .bullet-title-icon{ width: 45px; }
.sow-bullet-wrapper .bullet-title .bullet-title-text{ width: calc(100% - 45px); }

/* bullet-grid2 */
@media( min-width: 768px ){
	.sow-bullet-wrapper .bullet-grid2{
		display: flex;
		flex-wrap: wrap;
	}
	.sow-bullet-wrapper ul.bullet-grid2 li.bullet-item{
		width: 50%;
		background: none;
		padding: 5px 20px;
	}
	.sow-bullet-wrapper ul.bullet-grid2 li.bullet-item .col-md-12{
		background: #f2f2f2;
		padding: 20px;
	}
}

/* ALIGN CLOCK HANDS */
.jcgmt-clockHolder{ max-width: 150px; }


/*Akvo Steps List SOW*/
.steps-list-wrapper .step-body{
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
.steps-list-wrapper .step-body:last-child{
	margin-bottom: 0;
}
.steps-list-wrapper .step-body .title,
.steps-list-wrapper .step-body .step-icon{
	color: #03ad8c !important;
}
.steps-list-wrapper .step-body .title{ font-size: 18px; }
.steps-list-wrapper .step-body .step-icon{ font-size: 50px; }
.steps-list-wrapper .step-body .step-icon{
	position: relative;
}
.steps-list-wrapper .step-body .step-icon i{
  display:inline-block;
  font-size: 40px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: bottom;
}
.steps-list-wrapper .step-body .step-content{
	margin-top: 25px;
	margin-bottom: 10px;
}
@media( min-width: 960px ){
	.steps-list-wrapper{
		display: flex;
		width: 960px;
		margin: 0 auto;
	}
	.steps-list-wrapper .step-body{
		max-width: 30%;
		width: 100%;
		text-align: center;
		margin-right:  50px;
	}
	.steps-list-wrapper .step-body:last-child{
		margin-right: 0;
	}
	.steps-list-wrapper .step-body:after{
     position: absolute;
     content: "";
     background-color: #fff;
     height: 2px;
     top: 25px;
     width: 260px;
     display: block;
 	}

 .steps-list-wrapper :first-child:after{
	left: 180px;
 }
 .steps-list-wrapper :nth-child(2):after{
	left: 180px;
 }
 .steps-list-wrapper :last-child:after{
 	display: none;
 }

 /* For vertical-decoration only */
 .steps-list-wrapper.vertical .step-body:after{
	 	height: 102px;
 		top: 6px;
 		width: 2px;
		left: 310px;
		background-color: #ffffff;
 }
 .steps-list-wrapper.vertical :last-child:after{
 	display: none;
 }
/* For vertical-decoration only */


}
/*Akvo Steps List SOW*/


/* NEW HEADER & FOOTER - #396 */
#footer ul.menu{ padding-left: 0; }
#footer .footercol{ min-height: 280px; }

#main-menu-modal{ left: auto; right: 0; background: #fff; width: 100%; max-width: 700px; }
#main-menu-modal .modal-dialog { transform: translate(0, 0); }
#main-menu-modal .modal-content{ box-shadow: none; border: none; padding: 50px 100px; border-radius: 0; }

#main-menu-modal .modal-dialog .modal-content button.btn.btn-default.btn-close {
	background: none;
	border: none;
	color: #333;
	font-size: 36px;
	position: absolute;
	right: -70px;
	top: -50px;
}

#main-menu-modal .modal-content .navbar-nav,
#main-menu-modal .modal-content .navbar-nav li{
	float: none !important;
	background: none !important;
	margin-left: 0;
}

#main-menu-modal .navbar-nav .caret{ display: inline-block !important; }

#main-menu-modal .navbar-nav li a{
	position: relative;
	padding: 10px;
	background-color: transparent;
	color: #555 !important;
	font-size: 24px !important;
	line-height: 1.4;
	margin-bottom: 5px;
	text-decoration: none;
	display: block;
	word-break: break-word;
	white-space: normal;
}

#main-menu-modal .navbar-nav li.active a,
#main-menu-modal .navbar-nav li .dropdown-menu li.active a,
#main-menu-modal .navbar-nav li .dropdown-menu li:hover a,
#main-menu-modal .navbar-nav li:hover a {
	color: #4bbda1 !important;
}

#main-menu-modal .navbar-nav a:before{
	display: inline-block;
	position: absolute;
	content: '';
	width: 0px;
	border-top: 1px solid #4bbda1;
	left: -50px;
	top: 50%;
	transition: width 0.3s ease;
}
#main-menu-modal .navbar-nav li.active a:before,
#main-menu-modal .navbar-nav .submenu li.active a:before,
#main-menu-modal .navbar-nav .submenu li:hover a:before,
#main-menu-modal .navbar-nav li:hover a:before {
	width: 50px;
}



#main-menu-modal .navbar-nav li .dropdown-menu{
	list-style: none;
	display: block;
	position: relative;
	float: none;
	border: none !important;
	box-shadow: none !important;
	background: none !important;
	padding-left: 40px;
	display: none;
}
#main-menu-modal .navbar-nav li.dropdown.open .dropdown-menu,
#main-menu-modal .navbar-nav li.current-menu-parent .dropdown-menu{
	display: block;
}

#main-menu-modal .navbar-nav li.active .dropdown-menu a:before,
#main-menu-modal .navbar-nav li:hover .dropdown-menu a:before{
	width: 0;
}
#main-menu-modal .navbar-nav li .dropdown-menu a{
	padding: 10px;
	font-size: 18px !important;
}
#main-menu-modal .dropdown-menu>li>a:focus,
#main-menu-modal .dropdown-menu>li>a:hover{
	background: none !important;
}

#main-menu-modal .navbar-nav li:hover .dropdown-menu a,
#main-menu-modal .navbar-nav li.active .dropdown-menu a{
	color: #555 !important;
}

#main-menu-modal .list-inline.social{ margin-left: 10px; }
#main-menu-modal .list-inline.social a[href]{
	font-size: 22px;
	color: #555;
	-webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#main-menu-modal .list-inline.social a[href]:hover{ /*font-size: 30px; margin-top: -10px; */ color: #03AD8C; }

.search-form input[type=search] {
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon2.png');
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
	width: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding-bottom: 10px;
}

.search-form input[type=search]:focus {
  width: 200px;
	border-bottom: #ccc solid 1px;
}

/*
.search-form .search-wrap{ position: relative;}
.search-form input[type=search]{ width: 100%; box-shadow: none; }
.search-form .input-group-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: auto !important;
}
.search-form .input-group-btn button{ border-left-width: 0; color: #999; }
.search-form .input-group-btn button:hover{ background-color: #fff; }
#main-menu-modal .search-form{ margin: 30px 0;}
*/

#main-menu-modal .space-two{ margin-top: 70px; margin-bottom: 70px;}
#main-menu-modal .wpml-ls-legacy-list-horizontal{ margin-bottom: 15px;}

@media( max-width: 768px ){
	#main-menu-modal .modal-content{ padding: 50px 20px 50px 50px; }
	#main-menu-modal .modal-dialog .modal-content button.btn.btn-default.btn-close{ right: 0; }
}

/* NEW HEADER & FOOTER */

/* CLOCKS */
.jcgmt-rotatingWrapper{
	left: 50%;
  transform: translateX(-50%);
  padding-left: 0 !important;
}

/* Hubspot Button */
.carousel-caption .hubspot-btn{
	margin-top: 30px;
}
.carousel-caption .hubspot-btn a{
	display: inline-block;
	max-width: 200px;
	width: 100%;
	padding: 10px 5px;
	border: 2px solid #fff !important;
	font-size: 16px;
	background-color: #03ad8c;
	color: #fff;
	text-align: center;
}
.carousel-caption .hubspot-btn a span{
	font-size: 16px;
	color: #fff !important;
}
.carousel-caption .hubspot-btn a:hover{ background-color: #00a182;text-decoration: none; }
/* Hubspot Button */
