input[type=button], input[type=submit] {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px !important;
    padding: 10px 20px;
    background: #404898;
    border: 2px solid #404898;
    color: #fff !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    text-shadow: none !important;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
    margin: 0 auto;
    width: 100%;
}

input[type=button]:hover, input[type=submit]:hover {
	background: #fff !important;
	border-color: #404898 !important;
	color: #404898 !important;
}

.buttonblack{
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Assistant", sans-serif !important;
	font-size: 16px !important;
	padding: 1em 2em;
	background: transparent;
	border: 2px solid #000000;
	color: #000000 !important;
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	text-align: center;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	line-height: 1em;
	margin: 0 auto;
	
	&:hover {
		background: #000 !important;
		color: #fff !important;
	}
}

.buttonwhite {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Assistant", sans-serif !important;
	font-size: 16px !important;
	padding: 1em 2em;
	background: transparent;
	border: 2px solid #fff;
	color: #fff !important;
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	text-align: center;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	line-height: 1em;
	margin: 0 auto;
	&:hover {
		background: #fff !important;
		color: #202023 !important;
	}
}