
.jcgmt-container {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding: 3px;
	width: 16%;
	.jcgmt-lbl {
		width: 100%;
		text-align: center;
		padding-bottom: 5px;
		margin: 0 auto;
		font-weight: 300 !important;
		line-height: 30px;
		font-family: "Assistant", sans-serif !important;
		height: 70px;
		font-size: 20px;
		display: block;
	}
}

.jcgmt-clockHolder {
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.jcgmt-sec, .jcgmt-min, .jcgmt-hour {
	display: block;
	position: absolute;
}

.jcgmt-rotatingWrapper {
	position: absolute;
	width: 100px;
	height: 100px;
	padding-left: 24%;
	z-index: 100;
}

.jcgmt-digital, .jcgmt-date, .hellotext {
	font-weight: 300 !important;
	line-height: 40px;
	color: #000;
	font-family: "Assistant", sans-serif !important;
	font-size: 14px;
	text-align: center;
	margin-left: 8px;
}

.jcgmt-container {
	cursor: pointer !important;
	img.jcgmt-clock-hover {
		display: none !important;
	}
	&:hover img {
		&.jcgmt-clock {
			display: none !important;
		}
		&.jcgmt-clock-hover {
			display: inline-block !important;
		}
	}
	.hellotext {
		display: none !important;
	}
	&:hover {
		.jcgmt-digital {
			display: none !important;
		}
		.hellotext {
			display: inline-block !important;
		}		
	}
}

@media (max-width: 1200px) {
  .jcgmt-rotatingWrapper {
    padding-left: 18%;
  }
}

@media (max-width: 970px) {
  .jcgmt-rotatingWrapper {
    padding-left: 9%;
  }
}

@media (max-width: 768px) {
  .jcgmt-container {
    width: 40% !important;
  }
  .jcgmt-rotatingWrapper {
    padding-left: 27.5%;
  }
  .jcgmt-container .jcgmt-lbl {
    padding-top: 20px;
    height: auto !important;
  }
}

@media (max-width: 400px) {
  .jcgmt-container {
    width: 100% !important;
  }
  .jcgmt-rotatingWrapper {
    padding-left: 37.5%;
  }
}