

.fullwidth {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.paddingtop {
	padding-top: 60px;
}

.paddingbottom {
	padding-bottom: 60px;
}

.paddingboth {
	padding-top: 60px;
	padding-bottom: 60px;
}

.nopadding {
  padding-left: 0px;
  padding-right: 0px;
}

.lessbottom {
  margin-bottom: 10px !important;
}

.desktoppadding {
  padding-right: 40px !important;
}

.aligncenter {
  text-align: center;
}

.massivetitle {
	color: #4E4A47;
	font-size: 4.8rem;
	margin-bottom: 20px;
	line-height: 8.75rem;
	padding-bottom: 20px;
}

.thin, .roboto-thin {
	font-weight: 300;
	line-height: 30px;
}

/* AKVO COLOUR OVERRIDES */

.bg-light-gray { background-color: $colorLightGray; }
.bg-gray { background-color: $colorGray; }


.gray { color: $colorDarkGray !important; }
.graybg{ background-color: $colorDarkGray !important; }

.blue{ color: $colorBlue !important; }
.bluebg{ background-color: $colorBlue !important; }

.green{ color: $colorGreen !important; }
.greenbg{ background-color: $colorGreen !important; }

.red{ color: $colorRed !important; }
.redbg{ background-color: $colorRed !important;}

.pink{ color: $colorPink !important; }
.pinkbg{ background-color: $colorPink !important; }

.white { color: $colorWhite !important; }

.bg-mid-grey { background-color: $colorMidGray!important; }


@media (max-width: 768px) {
	.massivetitle {
		font-size: 4rem !important;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 5rem !important;
	}
}