.carousel {
	padding-top: 20px;
	
	.nav {
		a {
			small { display: block;}
			border-radius: 0px;
		}
		background: $colorGray;
	}
	
	.carousel-inner .item {
		background-size: cover;
		height: 600px;
		width: 100%;
		background-position: 50% 26%;
		
		&.item-narrow{
			height: 450px;
		}
		&.item-extra-narrow{
			height: 250px;
		}
		
		&.item-repeat{
			background-repeat: repeat;
			background-size: auto;
		}
	}
	
	.carousel-caption {
		text-shadow: none;
		bottom: 15%;
		text-align: left;
		right: auto;
		left: auto;
		
		&.microstory {
			
			&.largeimage h4 {
				font-size: 24px;
				padding: 5px;
				background: $colorWhite;
				color: $colorBlack !important;
			}
		}
		
	}
	
}

.carousel-caption h1, h1.slidertitle, .slidertitle {
	@extend %slidertitle;
}
.carousel-caption h2{
	@extend %slidercaption;
}
