/* LIST OF STAFF, MICROSTORIES, PARTNERS & ORGANISATIONS */
.akvo-custom-posts{
	
	padding: 0px;
    width: 100%;
    list-style-type: none;
    height: 100%;
	
	/* EACH ITEM WITHIN THE POST LIST */
	li.post{
		
		margin: 0;
		width: 33.05%;
		padding: 15px;
		display: block;
		float: left;
		
		/* BY DEFAULT TO BREAK INTO THREE COLUMNS */
		&:nth-child(3n+1) { clear: left; }
		
		div.imgWrapper, div.imageWrapper{
			background-color: $colorWhite;
			padding: 0px;
			width: 100%;
			max-height: 217px;
			overflow: hidden;
		}
		
		.staffName{
			font-size: 16px;
			margin-top: 10px;
		}
		
		.staffTitle{ font-size: 14px; }
		
		i.fa{
			font-size: 20px;
			padding: 10px;
		}
		
		.links a:hover{
			color: $colorBlue;
		}
		
		/* BREAKING INTO TWO COLUMNS */
		@media screen and (max-width: 1024px) and (min-width: 768px) {
			width: 46%;
			div.imgWrapper { max-height: 350px; }
			&:nth-child(3n+1) { clear: none; }
			&:nth-child(2n+1) { clear: left; }
			
		}
		/* BREAKING INTO SINGLE COLUMN */
		@media screen and (max-width: 768px) {
			div.imgWrapper { max-height: 350px; }
			width: 96%;
		}
	}
	
	/* SET MINIMUM HEIGHT FOR STAFF, FOUNDATION AND MICROSTORY SO THAT EACH ITEM IS NEATLY ALIGNED */
	&.new_staffs li.post,
	&.foundation_member li.post{
		min-height: 335px;
	}
	&.microstory li.post{
		min-height: 365px;
	}
	
	
	/* GRAYSCALE THE IMAGES BY DEFAULT AND SHOW THE COLORS ON HOVER */
	&.new_staffs li.post .imgWrapper img, 
	&.foundation_member li.post .imgWrapper img,
	&.new_partners li.post .imgWrapper img{
		width: 100%;
		height: auto;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	&.new_staffs li.post:hover .imgWrapper img, 
	&.foundation_member li.post:hover .imgWrapper img,
	&.new_partners li.post:hover .imgWrapper img{
		-webkit-filter: none;
		filter: none;
	}
	
	/*
	* PARTNER LOGOS 
	* Break into 5 columns by default and for small screen break into two columns
	*/	
	&.new_partners li.post{
		@media( min-width: 1024px ){
			width: 20%;
			&:nth-child(3n+1){
				clear: none;
			}
		}
		
		@media screen and (max-width: 768px){
			width: 48%;
			display: inline-block;
			float: none;
			&:nth-child(3n+1){
				clear: none;
			}
		}
	}
	
	&.microstory li.post{
		
		&:hover{
			background: $colorWhite;
		}
		
		&.featured {
			background: $colorBlue;
			.title, .hovercontent{
				color: $colorWhite;
			}
			
		}
		
	}
	
}


/* FIGURE ON HOW THIS IS BEING USED */
@media screen and (max-width: 768px) {
  nav {
    &.anchorNav ul li, &.anchorNav2 ul li {
      background: none !important;
      display: inline-block !important;
      padding: 10px !important;
    }
    &.anchorNav ul li a, &.anchorNav2 ul li a {
      font-size: 16px !important;
    }
  }
  ul {
    &.mobilehidesorting {
      display: none;
    }
    &.staff li {
      
    }
    &.help.companies li {
      div.imgWrapper {
        max-height: 350px !important;
      }
      width: 48% !important;
      display: inline-block !important;
      float: none !important;
      &:nth-child(3n+1) {
        clear: none !important;
      }
    }
  }
}





.microstoriesbox {
	display: block;
	min-height: 650px;
	height: 100%;
	width: 100%;
}





@-webkit-keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeOut {
	from{ opacity: 1; }
	to { opacity: 0; }
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* STYLING FOR THE FILTERS */
.nested-filters{
	
	nav ul{ padding: 0; }
	
	.primary-filter-list a{
		color: $colorBlack;
		border-radius: 0px;
		&:hover {
			color: $colorBlack;
			background: #f0f0f0;
			box-shadow: none;
		}
	}
	.secondary-filter-list{ 
		margin-top: 15px;
		a{
			color: #797979;
			border-radius: 0px;
			&:hover {
				color: #797979;
				background: #f0f0f0;
				box-shadow: none;
			}
		}
	}
	&.tertiary-filter-list a{
		color: #aaa8a8;
		border-radius: 0px;
		&:hover {
			color: #aaa8a8;
			background: #f0f0f0;
			box-shadow: none;
		}
	}
	
	@media screen and ( max-width: 768px ){
		.primary-filter-list a{
			padding: 10px;
			display: inline-block;
		}
		.secondary-filter-list{ display: none; }
	}
	
}